<div id="<%= dom_id auction %>" class="flex gap-4 w-full">
  <div class="w-full flex flex-col">
    <%= image_tag auction.image, class: "h-96 bg-gray-200 w-screen rounded-sm object-cover border object-center" %>
    <div class="w-full py-3 grid gap-2">
      <div class="flex gap-2 items-center justify-between">
        <div class="flex items-center gap-3">
          <label class="font-semibold text-secondary text-2xl">
            <%= auction.brand %> - <%= auction.car_type %>
          </label>
          <span class="text-secondary-light font-medium text-xl">
            (<%= auction.year %>)
          </span>
        </div>
        <% if auction.expired_at <= Date.today %>
          <span class="text-xl text-red-500 font-semibold">
            Closed
          </span>
        <% else %>
          <span class="text-xl text-primary font-semibold">
            <%= auction.expired_at.to_formatted_s(:long_ordinal) %>
          </span>
        <% end %>
      </div>
      <div class="flex gap-8">
        <div class="flex gap-2">
          <%= icon('fa-solid', 'gavel', class:"text-2xl text-primary self-end mb-1")%>
          <div>
              <label class="text-sm font-medium text-secondary-light">Sold for</label>
              <div class="font-semibold text-secondary">
                  <%= price_display_component amount: Auction.sold_cal(auction), id: auction.id, price_type: "sold", size: "xl" %>
                  <span class="text-sm text-primary">USD</span>
              </div>
          </div>
        </div>
        <div class="flex gap-2">
          <%= icon('fa-solid', 'sack-dollar', class:"text-2xl text-primary self-end mb-1")%>
          <div>
              <label class="text-sm font-medium text-secondary-light">Bid now</label>
              <div class="font-semibold text-secondary">
                  <%= price_display_component amount: Auction.hold_cal(auction), id: auction.id, price_type: "sold", size: "xl" %>
                  <span class="text-sm text-primary">USD</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="min-w-[300px] border border-primary py-3 overflow-auto rounded-sm">
  </div>
</div>
