<%= turbo_stream.replace "price_hold_#{id}" do %>
   <%= price_display_component amount: hold_amount,
      id: id,
      price_type: "hold"
   %>
<% end %>

<%= turbo_stream.replace "price_sold_#{id}" do %>
   <%= price_display_component amount: sold_amount,
      id: id,
      price_type: "sold"
   %>
<% end %>

<%= turbo_stream.replace "bid_btn_#{id}" do %>
   <%= bid_btn_component hold_amount: hold_amount, id: id %>
<% end %>

<%= turbo_stream.replace "bid_count_#{id}" do %>
   <%= bid_count_component count: bid_count, id: id %>
<% end %>

<% if expired_at <= Time.now && bid_count > 0 %>
    <%= turbo_stream.replace "bid_card_timer_#{id}" do %>
        <div id="bid_card_timer<%= id %>" class="text-xs rounded-t-xl bg-gradient-to-r from-[#007BC5] to-[#87C1FF] font-medium -mb-2 text-white py-2 text-center">
            Closed
         </div>
    <% end %>
<% end %>
