<%= turbo_stream_from(:bid_cards) %>
<div class="w-full space-y-4 my-4">
    <h2 class="text-xl text-secondary font-semibold">
        <% if @user.id == current_user.id %>
            My auctions - <%= @user.fullname %>
        <% else %>
            <%= @user.fullname %> auctions
        <% end %>
    </h2>
    <% if @auctions.present? %>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-2.5 md:gap-4">
            <% @auctions.each do | auction | %>
                <%= bid_card_component data: auction %>
            <% end %>
        </div>
        <%= btn_next_component link: root_path,
            pagy: @pagy,
            brand: params[:brand],
            year: params[:year],
            car_type: params[:car_type]
        %>
    <% else %>
        <div class="grid place-items-center h-96">
            <h2 class="text-secondary text-3xl font-semibold grid place-items-center">
                <%= icon('fa-solid', 'box-open', class:"text-7xl text-primary")%>
                No auctions found
            </h2>
        </div>
    <% end %>
</div>

