<div class="bg-white border rounded-sm p-1.5 cursor-pointer space-y-2">
    <div class="text-xs rounded-t-xl bg-gradient-to-r from-[#007BC5] to-[#87C1FF] font-medium -mb-2 text-white py-2 text-center">
        Thursday 12, Dec 2019 - 15:00
    </div>
    <div class="bg-gray-200 h-56 rounded-b-xl">
    </div>
    <div class="px-2 divide-y space-y-2">
        <div class="flex justify-between items-center">
            <h2 class="font-semibold text-secondary w-[80%] line-clamp-1">
                <%= @data.brand %>
            </h2>
            <div class="text-sm font-medium text-secondary-light">
                <%= @data.year %>
            </div>
        </div>
        <div class="flex justify-between">
            <div class="flex gap-2">
                <%= icon('fa-solid', 'gavel', class:"text-xl text-primary self-end mb-1")%>
                <div>
                    <label class="text-xs font-medium text-secondary-light">Sold for</label>
                    <div class="font-semibold text-secondary">
                        <% if @data.price_hold > 0 %>
                             <%= @data.price_hold %>
                        <% else %>
                            <%= @data.opening_price %>
                        <% end %>
                        <span class="text-xs text-primary">USD</span>
                    </div>
                </div>
            </div>
             <div class="flex gap-2">
                <%= icon('fa-solid', 'sack-dollar', class:"text-xl text-primary self-end mb-1")%>
                <div>
                    <label class="text-xs font-medium text-secondary-light">Buy now</label>
                    <div class="font-semibold text-secondary">
                        <%= @data.opening_price + @data.price_increment %>
                        <span class="text-xs text-primary">USD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
