<div id="auction_<%= @data.id %>" class="bg-white border rounded-sm p-1.5 space-y-2">
    <div class="text-xs rounded-t-xl bg-gradient-to-r from-[#007BC5] to-[#87C1FF] font-medium -mb-2 text-white py-2 text-center">
        <%= @data.expired_at %>
    </div>
    <div class="relative">
        <%= image_tag @data.image, data: { preview_target: "image" }, class: "bg-gray-200 h-56 rounded-b-xl object-cover border w-full object-center" %>
        <% if owned_by_current_user %>
            <%= link_to edit_auction_path(id: @data.id), class:"underline text-primary absolute bottom-3 right-3" do %>
                <%= icon('fa-solid', 'edit', class:"text-3xl text-primary self-end mb-1") %>
            <% end %>
        <% else %>
            <%= button_to bid_path(id: @data.id), method: :post,
                params: { bid_amount: bid_amount },
                class: "flex flex-row gap-2 px-4 py-2 absolute bottom-3 bg-[conic-gradient(from_1turn,#87C1FF,#007BC5)] rounded-lg right-3 cursor-pointer hover:shadow-md hover:scale-105" do
            %>
                <%= icon('fa-solid', 'gavel', class:"text-2xl text-white", id: "bid-icon")%>
                <span class="font-semibold text-white uppercase">Bid</span>
            <% end %>
        <% end %>
    </div>
    <div class="px-2 divide-y space-y-2">
        <div class="flex justify-between items-center">
            <h2 class="font-semibold text-secondary w-[80%] line-clamp-1">
                <%= @data.brand %> - <%= @data.car_type %>
            </h2>
            <div class="text-sm font-medium text-secondary-light">
                <%= @data.year %>
            </div>
        </div>
        <div class="flex justify-between">
            <div class="flex gap-2">
                <%= icon('fa-solid', 'gavel', class:"text-xl text-primary self-end mb-1")%>
                <div>
                    <label class="text-xs font-medium text-secondary-light">Sold for</label>
                    <div class="font-semibold text-secondary">
                        <% if @data.price_hold > 0 %>
                             <%= @data.price_hold %>
                        <% else %>
                            <%= @data.opening_price %>
                        <% end %>
                        <span class="text-xs text-primary">USD</span>
                    </div>
                </div>
            </div>
             <div class="flex gap-2">
                <%= icon('fa-solid', 'sack-dollar', class:"text-xl text-primary self-end mb-1")%>
                <div>
                    <label class="text-xs font-medium text-secondary-light">Bid now</label>
                    <div class="font-semibold text-secondary">
                        <%= bid_amount %>
                        <span class="text-xs text-primary">USD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
