<div data-controller="auctioncard" id="auction_<%= @data.id %>" class="bg-white border rounded-sm p-1.5 space-y-2">
    <div class="text-xs rounded-t-xl bg-gradient-to-r from-[#007BC5] to-[#87C1FF] font-medium -mb-2 text-white py-2 text-center">
        <% if is_expired %>
            Closed
        <% else %>
            Expires at: <%= @data.expired_at.to_formatted_s(:long_ordinal) %>
        <% end %>
    </div>
    <div class="relative">
        <%= image_tag @data.image, data: { preview_target: "image" }, class: "bg-gray-200 h-56 rounded-b-xl object-cover border w-full object-center" %>
        <% if owned_by_current_user %>
            <%= link_to edit_auction_path(id: @data.id),
                data: { auctioncard_target: "action" },
                class:"underline text-primary absolute bottom-3 right-3" do
            %>
                <%= icon('fa-solid', 'edit', class:"text-3xl text-primary self-end mb-1", data: { auctioncard_target: "icon" }) %>
            <% end %>
        <% end %>
        <% if !is_expired && !owned_by_current_user%>
            <%= bid_btn_component id: @data.id, hold_amount: hold_amount %>
        <% end %>
    </div>
    <div class="px-2 divide-y space-y-2">
        <div class="flex justify-between items-center">
            <h2 class="font-semibold text-secondary w-[80%] line-clamp-1">
                <%= @data.brand %> - <%= @data.car_type %>
            </h2>
            <div class="text-sm font-medium text-secondary-light">
                <%= @data.year %>
            </div>
        </div>
        <div class="flex justify-between">
            <div class="flex gap-2">
                <%= icon('fa-solid', 'gavel', class:"text-xl text-primary self-end mb-1")%>
                <div>
                    <label class="text-xs font-medium text-secondary-light">Sold for</label>
                    <div class="font-semibold text-secondary">
                        <%= price_display_component amount: sold_amount, id: @data.id, price_type: "sold" %>
                        <span class="text-xs text-primary">USD</span>
                    </div>
                </div>
            </div>
             <div class="flex gap-2">
                <%= icon('fa-solid', 'sack-dollar', class:"text-xl text-primary self-end mb-1")%>
                <div>
                    <label class="text-xs font-medium text-secondary-light">Bid now</label>
                    <div class="font-semibold text-secondary">
                        <%= price_display_component amount: hold_amount, id: @data.id, price_type: "hold" %>
                        <span class="text-xs text-primary">USD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex pt-1">
        <%= bid_count_component count: @data.bid_count, id: @data.id %>

            <div class="flex items-center pl-2 gap-1.5">
                <%= link_to auction_path(id: @data.id), class: "hover:scale-105" do %>
                    <%= icon('fa-solid', 'eye', class:"text-2xl text-secondary")%>
                <% end %>
                <% unless current_page?(profile_path(id: @data.user_id))  %>
                    <%= link_to profile_path(id: @data.user_id), class: "hover:scale-105" do %>
                        <%= icon('fa-solid', 'user-circle', class:"text-2xl text-primary")%>
                    <% end %>
                <% end %>
            </div>
    </div>
</div>
